# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
local.properties
*.apk
*.aab
*.jks
*.keystore
.idea/
*.iml
app/build/
build/
.gradle/
Thumbs.db
